<!DOCTYPE html>
<html>
<head>
<title>Order Success</title>

<style>

body{
font-family:Arial;
background:#f7f5f2;
text-align:center;
padding:100px;
}

.box{

width:600px;
margin:auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}

h1{
color:green;
margin-bottom:20px;
}

a{

text-decoration:none;

background:#b9804f;

color:white;

padding:12px 25px;

border-radius:30px;

}

</style>

</head>

<body>

<div class="box">

<h1>
✅ Order Placed Successfully
</h1>

<h3>
Thank you for shopping with D Croft Wood
</h3>

<p>
Your furniture order has been confirmed.
</p>

<br>

<a href="{% url 'shop' %}">
Continue Shopping
</a>

</div>

</body>
</html>